$primary: #2d233d; // Primary color for buttons, links, etc.
$secondary: #554570; // Secondary color
$third: #9680bd; // Accent color
$success: #849a6f; // Success color (like for success messages)
$successDark: #2e8062;
$warning: #eeb649; // Warning color (like for warnings)
$error: #eb6945; // Error color (like for error messages)
$light: #f5f5f5;
$beige: #ebe7e0;
$starsGray: #d6d6d6;
$link: #2596bd;
$titleLink: #083d4f;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-serif;
}

blockquote {
    @apply font-serif;
    @media (min-width: 768px) {
        margin-left: -80px;
    }
}

example {
    border: 1px solid #ccc;
    display: block;
    padding: 20px;

    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
    position: relative;

    &::before {
        content: 'Piemērs';
        position: absolute;
        text-transform: uppercase;
        top: -8px;
        left: 7px;
        line-height: 16px;
        padding: 0 8px;
        background-color: $third;
        color: #fff;
        font-size: 8px;
        border-radius: 10px;
    }
}

/* Primary color */
.bg-primary {
    background-color: #2d233d;
}

/* Accent color */
.bg-third {
    background-color: #9680bd;
}

/* Success color */
.bg-success {
    background-color: #849a6f;
}

/* Darker success color */
.bg-success-dark {
    background-color: #2e8062;
}

/* Warning color */
.bg-warning {
    background-color: #eeb649;
}

/* Error color */
.bg-error {
    background-color: #eb6945;
}

/* Light color */
.bg-light {
    background-color: #f5f5f5;
}

/* Beige color */
.bg-beige {
    background-color: #ebe7e0;
}

/* Stars gray color */
.bg-stars-gray {
    background-color: #d6d6d6;
}

@media (max-width: 768px) {
    table.responsive {
        > thead {
            display: none;
            th {
                display: none;
            }
        }
        > tbody {
            display: block;
            > tr {
                display: block;
                > td {
                    display: block;
                }
            }
        }
    }
}

//accessibility

.asw-menu-btn {
    z-index: 500000;
    box-shadow: 0 5px 15px 0 rgb(37 44 97 / 15%),
        0 2px 4px 0 rgb(93 100 148 / 20%);
    transition: transform 0.2s ease;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    border: 3px solid #fff !important;
    outline: 2px solid #2d233d !important;
    text-decoration: none !important;
    background: #2d233d !important;
    background: linear-gradient(96deg, #554570 0, #2d233d 100%) !important;
    position: relative; /* Remove fixed positioning to allow manual placement */
}
.asw-menu-btn svg {
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    background: transparent !important;
}
.asw-menu-btn:hover {
    transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
    .asw-menu-btn {
        width: 30px;
        height: 30px;
    }
    .asw-menu-btn svg {
        width: 20px;
        height: 20px;
        min-height: 20px;
        min-width: 20px;
        max-width: 20px;
        max-height: 20px;
    }
}
